
@model HomeVM

<!--welcome-hero start -->
<section id="home" class="welcome-hero">
	<div class="container">
		<div class="welcome-hero-txt">
			<h2>best place to find and explore <br> that all you need </h2>
			<p>
				Find Best Place, Restaurant, Hotel, Real State and many more think in just One click
			</p>
		</div>
		<div class="welcome-hero-serch-box">
			<div class="welcome-hero-form">
				<div class="single-welcome-hero-form">
					<h3>what?</h3>
					<form action="index.html">
						<input type="text" placeholder="Ex: palce, resturent, food, automobile" />
					</form>
					<div class="welcome-hero-form-icon">
						<i class="flaticon-list-with-dots"></i>
					</div>
				</div>
				<div class="single-welcome-hero-form">
					<h3>location</h3>
					<form action="index.html">
						<input type="text" placeholder="Ex: london, newyork, rome" />
					</form>
					<div class="welcome-hero-form-icon">
						<i class="flaticon-gps-fixed-indicator"></i>
					</div>
				</div>
			</div>
			<div class="welcome-hero-serch">
				<button class="welcome-hero-btn" onclick="window.location.href='#'">
					search  <i data-feather="search"></i>
				</button>
			</div>
		</div>
	</div>

</section><!--/.welcome-hero-->
<!--welcome-hero end -->
<!--list-topics start -->
<section id="list-topics" class="list-topics">
	<div class="container">
		<div class="list-topics-content">
			<ul>
				@foreach (Topic topic in Model.Topics)
				{
				<li>
					<div class="single-list-topics-content">
						<div class="single-list-topics-icon">
							<i class="flaticon-@topic.IconName"></i>
						</div>
						<h2><a href="#">@topic.Name</a></h2>
						<p>@topic.Count listings</p>
					</div>
				</li>
				}
				
			</ul>
		</div>
	</div><!--/.container-->

</section><!--/.list-topics-->
<!--list-topics end-->
<!--works start -->
<section id="works" class="works">
	<div class="container">
		<div class="section-header">
			<h2>how it works</h2>
			<p>Learn More about how our website works</p>
		</div><!--/.section-header-->
		<div class="works-content">
			<div class="row">
				@foreach (Service service in Model.Services)
				{
				<div class="col-md-4 col-sm-6">
					<div class="single-how-works">
						<div class="single-how-works-icon">
							<i class="flaticon-@service.IconName"></i>
						</div>
						<h2><a href="#">@service.Name</a></h2>
						<p>
							@service.Description
						</p>
						<button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
							read more
						</button>
					</div>
				</div>
				}
			</div>
		</div>
	</div><!--/.container-->

</section><!--/.works-->
<!--works end -->
<!--explore start -->
<section id="explore" class="explore">
	<div class="container">
		<div class="section-header">
			<h2>explore</h2>
			<p>Explore New place, food, culture around the world and many more</p>
		</div><!--/.section-header-->
		<div class="explore-content">
			<div class="row">
				@foreach (Explore explore in Model.Explores)
				{
					
				<div class=" col-md-4 col-sm-6">
					<div class="single-explore-item">
						<div class="single-explore-img">
							<img src="@explore.ImgSrcName" alt="@explore.Name">
							<div class="single-explore-img-info">
								<button onclick="window.location.href='#'">best rated</button>
								<div class="single-explore-image-icon-box">
									<ul>
										<li>
											<div class="single-explore-image-icon">
												<i class="fa fa-arrows-alt"></i>
											</div>
										</li>
										<li>
											<div class="single-explore-image-icon">
												<i class="fa fa-bookmark-o"></i>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="single-explore-txt bg-theme-1">
							<h2><a href="#">@explore.Name</a></h2>
							<p class="explore-rating-price">
								<span class="explore-rating">@explore.Rating</span>
								<a href="#"> @explore.Count ratings</a>
								<span class="explore-price-box">
									form
									<span class="explore-price">5$-300$</span>
								</span>
								<a href="#">resturent</a>
							</p>
							<div class="explore-person">
								<div class="row">
									<div class="col-sm-2">
										<div class="explore-person-img">
											<a href="#">
												<img src="~/assets/images/explore/person.png" alt="explore person">
											</a>
										</div>
									</div>
									<div class="col-sm-10">
										<p>
											@explore.Description
										</p>
									</div>
								</div>
							</div>
							<div class="explore-open-close-part">
								<div class="row">
									<div class="col-sm-5">
										<button class="close-btn @(explore.IsOpen ? "open-btn":"" )" onclick="window.location.href='#'">@(explore.IsOpen ? "open" : "close" ) now</button>
									</div>
									<div class="col-sm-7">
										<div class="explore-map-icon">
											<a href="#"><i data-feather="map-pin"></i></a>
											<a href="#"><i data-feather="upload"></i></a>
											<a href="#"><i data-feather="heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
		</div>
	</div><!--/.container-->

</section><!--/.explore-->
<!--explore end -->
<!--reviews start -->
<section id="reviews" class="reviews">
	<div class="section-header">
		<h2>clients reviews</h2>
		<p>What our client say about us</p>
	</div><!--/.section-header-->
	<div class="reviews-content">
		<div class="testimonial-carousel">
			<div class="single-testimonial-box">
				<div class="testimonial-description">
					<div class="testimonial-info">
						<div class="testimonial-img">
							<img src="~/assets/images/clients/c1.png" alt="clients">
						</div><!--/.testimonial-img-->
						<div class="testimonial-person">
							<h2>Tom Leakar</h2>
							<h4>london, UK</h4>
							<div class="testimonial-person-star">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div><!--/.testimonial-person-->
					</div><!--/.testimonial-info-->
					<div class="testimonial-comment">
						<p>
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
						</p>
					</div><!--/.testimonial-comment-->
				</div><!--/.testimonial-description-->
			</div><!--/.single-testimonial-box-->
			<div class="single-testimonial-box">
				<div class="testimonial-description">
					<div class="testimonial-info">
						<div class="testimonial-img">
							<img src="~/assets/images/clients/c2.png" alt="clients">
						</div><!--/.testimonial-img-->
						<div class="testimonial-person">
							<h2>monirul islam</h2>
							<h4>london, UK</h4>
							<div class="testimonial-person-star">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div><!--/.testimonial-person-->
					</div><!--/.testimonial-info-->
					<div class="testimonial-comment">
						<p>
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
						</p>
					</div><!--/.testimonial-comment-->
				</div><!--/.testimonial-description-->
			</div><!--/.single-testimonial-box-->
			<div class="single-testimonial-box">
				<div class="testimonial-description">
					<div class="testimonial-info">
						<div class="testimonial-img">
							<img src="~/assets/images/clients/c3.png" alt="clients">
						</div><!--/.testimonial-img-->
						<div class="testimonial-person">
							<h2>Shohrab Hossain</h2>
							<h4>london, UK</h4>
							<div class="testimonial-person-star">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div><!--/.testimonial-person-->
					</div><!--/.testimonial-info-->
					<div class="testimonial-comment">
						<p>
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
						</p>
					</div><!--/.testimonial-comment-->
				</div><!--/.testimonial-description-->
			</div><!--/.single-testimonial-box-->
			<div class="single-testimonial-box">
				<div class="testimonial-description">
					<div class="testimonial-info">
						<div class="testimonial-img">
							<img src="~/assets/images/clients/c4.png" alt="clients">
						</div><!--/.testimonial-img-->
						<div class="testimonial-person">
							<h2>Tom Leakar</h2>
							<h4>london, UK</h4>
							<div class="testimonial-person-star">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div><!--/.testimonial-person-->
					</div><!--/.testimonial-info-->
					<div class="testimonial-comment">
						<p>
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
						</p>
					</div><!--/.testimonial-comment-->
				</div><!--/.testimonial-description-->
			</div><!--/.single-testimonial-box-->
			<div class="single-testimonial-box">
				<div class="testimonial-description">
					<div class="testimonial-info">
						<div class="testimonial-img">
							<img src="~/assets/images/clients/c1.png" alt="clients">
						</div><!--/.testimonial-img-->
						<div class="testimonial-person">
							<h2>Tom Leakar</h2>
							<h4>london, UK</h4>
							<div class="testimonial-person-star">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div><!--/.testimonial-person-->
					</div><!--/.testimonial-info-->
					<div class="testimonial-comment">
						<p>
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
						</p>
					</div><!--/.testimonial-comment-->
				</div><!--/.testimonial-description-->
			</div><!--/.single-testimonial-box-->
			<div class="single-testimonial-box">
				<div class="testimonial-description">
					<div class="testimonial-info">
						<div class="testimonial-img">
							<img src="~/assets/images/clients/c2.png" alt="clients">
						</div><!--/.testimonial-img-->
						<div class="testimonial-person">
							<h2>monirul islam</h2>
							<h4>london, UK</h4>
							<div class="testimonial-person-star">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div><!--/.testimonial-person-->
					</div><!--/.testimonial-info-->
					<div class="testimonial-comment">
						<p>
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
						</p>
					</div><!--/.testimonial-comment-->
				</div><!--/.testimonial-description-->
			</div><!--/.single-testimonial-box-->
			<div class="single-testimonial-box">
				<div class="testimonial-description">
					<div class="testimonial-info">
						<div class="testimonial-img">
							<img src="~/assets/images/clients/c3.png" alt="clients">
						</div><!--/.testimonial-img-->
						<div class="testimonial-person">
							<h2>Shohrab Hossain</h2>
							<h4>london, UK</h4>
							<div class="testimonial-person-star">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div><!--/.testimonial-person-->
					</div><!--/.testimonial-info-->
					<div class="testimonial-comment">
						<p>
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
						</p>
					</div><!--/.testimonial-comment-->
				</div><!--/.testimonial-description-->
			</div><!--/.single-testimonial-box-->
			<div class="single-testimonial-box">
				<div class="testimonial-description">
					<div class="testimonial-info">
						<div class="testimonial-img">
							<img src="~/assets/images/clients/c4.png" alt="clients">
						</div><!--/.testimonial-img-->
						<div class="testimonial-person">
							<h2>Tom Leakar</h2>
							<h4>london, UK</h4>
							<div class="testimonial-person-star">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div><!--/.testimonial-person-->
					</div><!--/.testimonial-info-->
					<div class="testimonial-comment">
						<p>
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
						</p>
					</div><!--/.testimonial-comment-->
				</div><!--/.testimonial-description-->
			</div><!--/.single-testimonial-box-->
		</div>
	</div>

</section><!--/.reviews-->
<!--reviews end -->
<!-- statistics strat -->
<section id="statistics" class="statistics">
	<div class="container">
		<div class="statistics-counter">
			<div class="col-md-3 col-sm-6">
				<div class="single-ststistics-box">
					<div class="statistics-content">
						<div class="counter">90 </div> <span>K+</span>
					</div><!--/.statistics-content-->
					<h3>listings</h3>
				</div><!--/.single-ststistics-box-->
			</div><!--/.col-->
			<div class="col-md-3 col-sm-6">
				<div class="single-ststistics-box">
					<div class="statistics-content">
						<div class="counter">40</div> <span>k+</span>
					</div><!--/.statistics-content-->
					<h3>listing categories</h3>
				</div><!--/.single-ststistics-box-->
			</div><!--/.col-->
			<div class="col-md-3 col-sm-6">
				<div class="single-ststistics-box">
					<div class="statistics-content">
						<div class="counter">65</div> <span>k+</span>
					</div><!--/.statistics-content-->
					<h3>visitors</h3>
				</div><!--/.single-ststistics-box-->
			</div><!--/.col-->
			<div class="col-md-3 col-sm-6">
				<div class="single-ststistics-box">
					<div class="statistics-content">
						<div class="counter">50</div> <span>k+</span>
					</div><!--/.statistics-content-->
					<h3>happy clients</h3>
				</div><!--/.single-ststistics-box-->
			</div><!--/.col-->
		</div><!--/.statistics-counter-->
	</div><!--/.container-->

</section><!--/.counter-->
<!-- statistics end -->
<!--blog start -->
<section id="blog" class="blog">
	<div class="container">
		<div class="section-header">
			<h2>news and articles</h2>
			<p>Always upto date with our latest News and Articles </p>
		</div><!--/.section-header-->
		<div class="blog-content">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="single-blog-item">
						<div class="single-blog-item-img">
							<img src="~/assets/images/blog/b1.jpg" alt="blog image">
						</div>
						<div class="single-blog-item-txt">
							<h2><a href="#">How to find your Desired Place more quickly</a></h2>
							<h4>posted <span>by</span> <a href="#">admin</a> march 2018</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-blog-item">
						<div class="single-blog-item-img">
							<img src="~/assets/images/blog/b2.jpg" alt="blog image">
						</div>
						<div class="single-blog-item-txt">
							<h2><a href="#">How to find your Desired Place more quickly</a></h2>
							<h4>posted <span>by</span> <a href="#">admin</a> march 2018</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-blog-item">
						<div class="single-blog-item-img">
							<img src="~/assets/images/blog/b3.jpg" alt="blog image">
						</div>
						<div class="single-blog-item-txt">
							<h2><a href="#">How to find your Desired Place more quickly</a></h2>
							<h4>posted <span>by</span> <a href="#">admin</a> march 2018</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/.container-->

</section><!--/.blog-->
<!--blog end -->
<!--subscription strat -->
<section id="contact" class="subscription">
	<div class="container">
		<div class="subscribe-title text-center">
			<h2>
				do you want to add your business listing with us?
			</h2>
			<p>
				Listrace offer you to list your business with us and we very much able to promote your Business.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="subscription-input-group">
					<form action="#">
						<input type="email" class="subscription-input-form" placeholder="Enter your email here">
						<button class="appsLand-btn subscribe-btn" onclick="window.location.href='#'">
							creat account
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</section><!--/subscription-->
<!--subscription end -->
